<form  action= "<%= users_url %>" method="post">

<label for="">Email
  <input type="text" name="user[email]" value="">
</label>
<br>
<label for="">Password
  <input type="text" name="user[password]" value="">
</label>
<input type="submit" name="" value="CREATE ACCT">
</form>
