#main {
  display: flex;
  justify-content: center;
  font-family: Muli;
}

.clock {
  display: block;
  color: white;
  background-color: orange;
  margin: 100px;
  padding: 10px;
  vertical-align: middle;
  border: 2px solid black;
  font-size: 200%;
}
